.App-header{
  width: 80vw;
  text-align: center;
  margin: 10vw;
  border-radius: 15px;
  background-image: linear-gradient(to right, rgb(59, 157, 223), rgb(31, 209, 233))
}

label{
  font-weight: bold;
}

input[type="text"]{
  display:block;
  margin: 0 auto;
}

button{
  display:block;
  margin: 0 auto;
}